<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href="../styles/rooms.css" type="text/css">
    <title>Комнаты</title>
</head>
<body>
<div class="floor">
    <div class="room">
        <p>Этаж: 2</p>
        <p>Зал: 1</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=1&id_floor=2';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 2</p>

        <p>Зал: 2</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=2&id_floor=2';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 2</p>
        <p>Зал: 3</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=3&id_floor=2';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 2</p>
        <p>Зал: 4</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=4&id_floor=2';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 2</p>
        <p>Зал: 5</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=5&id_floor=2';">Забронировать</button>
    </div>
</div>
<div class="floor">
    <div class="room">
        <p>Этаж: 1</p>
        <p>Зал: 1</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=1&id_floor=1';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 1</p>
        <p>Зал: 2</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=2';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 1</p>
        <p>Зал: 3</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=3&id_floor=1';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 1</p>
        <p>Зал: 4</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=4&id_floor=1';">Забронировать</button>
    </div>
    <div class="room">
        <p>Этаж: 1</p>
        <p>Зал: 5</p>
        <button class="reserving-btn" onclick="window.location.href='/reserving?id_room=5&id_floor=1';">Забронировать</button>
    </div>
</div>
</body>
</html>
